<form #createStoreForm="ngForm" [class.submitted]="createStoreForm.submitted" class="text-left"
      (ngSubmit)="createStore(createStoreForm.value, createStoreForm.valid)" novalidate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>Crear Tienda</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="address">Dirección:</label>
          <input type="text" name="address" id="address" ngModel #address="ngModel" required />
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="phoneNumber">Teléfono:</label>
          <input type="text" name="phoneNumber" id="phoneNumber" ngModel #phoneNumber="ngModel" required />
        </div>
      </div>
      <div class="col-12 col-sm-4">
          <button type="submit" class="btn btn-secondary"><i class="fa fa-check"></i> Aceptar</button>
          <button type="button" class="btn btn-secondary" (click)="setStoreCreated(false)"><i class="fa fa-ban"></i> Cancelar</button>
        </div>
    </div>    
  </div>
</form>
